body {
  background: #f2f2f2;
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

.hero {
  position: absolute;
  top:0;
  left: 0;
  height:100vh;
  width: 100%;
  background-image: url(../images/juni01.jpg);
  background-size: cover;
  background-position-x: 20%;
  background-position-x: 20%;
  -webkit-animation: moveDown 1s ease-in-out forwards;
          animation: moveDown 1s ease-in-out forwards;
}
.hero .down-arrow {
  stroke: rgb(167, 62, 62);
  position: absolute;
  bottom: 5em;
  width: 1em;
  margin-left: 1em;
  animation: moveArrow 1s alternate-reverse infinite;
}
.hero .down-arrow path {
  fill: white;
}

header {
  justify-content: space-between;
  display: flex;
}
header .logo {
   margin-left: 0.7em;
  color: white;
  font-size: 2rem;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 0.4em;
}
header .logo span {
  color: gray;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  background: white;
  height: 100vh;
  width: 60%;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 8em;
}
nav ul a {
  text-decoration: none;
  color: black;
  padding: 1em 2em;
  display: block;
  font-size: 1.2rem;
}
nav ul a:hover {
  background: rgb(202, 201, 201);
}
nav .exit {
  width: 1.8em;
  float: right;
  margin: 1em;
  cursor: pointer;
}
nav .btn {
  display: inline-block;
  margin-top: 5em;
  margin-left: 2em;
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 0.75em 1em;
  border-radius: 5em;
  transition: transform 0.4s;
}
nav .btn:hover {
  transform: scale(1.2);
}

.menu {
  width: 100%;
  color: white;
  width: 2em;
  float: right;
  margin-top: -3.8em;
  margin-right: 0.5em;
  filter: invert(100%);
}
.menu:hover {
  cursor: pointer;
}

.content {
  height: 90vh;
  -webkit-animation: moveDown 1s ease-in-out forwards;
          animation: moveDown 1s ease-in-out forwards;
  opacity: 0;
  position: absolute;
  top: 60%;
  left: 8%;
}
.content h1 {
  color: rgb(226, 224, 224);
  margin: 20px 0px 20px;
  font-size: 2.5rem;
}
.content h1 span {
  color: white;
}
.content h4 {
  color: gray;
  letter-spacing: 2px;
  font-size: 1rem;
  margin-bottom: 1em;
  margin-right: 0.5em;
}

.about {
  display: flex;
  margin-top: 40em;
  width: 100%;
  padding: 100px 0px;
  background-color: #191919;
}

.about .about-text {
  width: 550px;
}
.about .about-text h2 {
  color: white;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about .about-text h5 {
  color: white;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.about .about-text h5 span {
  color: gray;
}
.about .about-text p {
  color: rgba(255, 204, 255, 0.8);
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
 file with 464 additions and 0 deletions.
 464  
css/main.css
@@ -0,0 +1,464 @@
body {
  background: #f2f2f2;
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

.hero {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/juni01.jpg);
  background-size: cover;
  background-position-x: 30%;
  background-position-y: 30%;
  height: 100vh;
  width: 100%;
  z-index: -1;
  -webkit-animation: moveDown 1s ease-in-out forwards;
          animation: moveDown 1s ease-in-out forwards;
}
.hero .down-arrow {
  stroke: rgb(167, 62, 62);
  position: absolute;
  bottom: 5em;
  width: 1em;
  margin-left: 1em;
  animation: moveArrow 1s alternate-reverse infinite;
}
.hero .down-arrow path {
  fill: white;
}

header {
  justify-content: space-between;
  display: flex;
}
header .logo {
   margin-left: 0.7em;
  color: white;
  font-size: 2rem;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 0.4em;
}
header .logo span {
  color: gray;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  background: white;
  height: 100vh;
  width: 60%;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 8em;
}
nav ul a {
  text-decoration: none;
  color: black;
  padding: 1em 2em;
  display: block;
  font-size: 1.2rem;
}
nav ul a:hover {
  background: rgb(202, 201, 201);
}
nav .exit {
  width: 1.8em;
  float: right;
  margin: 1em;
  cursor: pointer;
}
nav .btn {
  display: inline-block;
  margin-top: 5em;
  margin-left: 2em;
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 0.75em 1em;
  border-radius: 5em;
  transition: transform 0.4s;
}
nav .btn:hover {
  transform: scale(1.2);
}

.menu {
  width: 100%;
  color: white;
  width: 2em;
  float: right;
  margin-top: -3.8em;
  margin-right: 0.5em;
  filter: invert(100%);
}
.menu:hover {
  cursor: pointer;
}

.content {
  height: 90vh;
  -webkit-animation: moveDown 1s ease-in-out forwards;
          animation: moveDown 1s ease-in-out forwards;
  opacity: 0;
  position: absolute;
  top: 60%;
  left: 8%;
}
.content h1 {
  color: rgb(226, 224, 224);
  margin: 20px 0px 20px;
  font-size: 2.5rem;
}
.content h1 span {
  color: white;
}
.content h4 {
  color: gray;
  letter-spacing: 2px;
  font-size: 1rem;
  margin-bottom: 1em;
  margin-right: 0.5em;
}

.about {
  display: flex;
  margin-top: 40em;
  width: 100%;
  padding: 100px 0px;
  background-color: #191919;
}
.about img {
  display: none;
}
.about .about-text {
  width: 550px;
}
.about .about-text h2 {
  color: white;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about .about-text h5 {
  color: white;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.about .about-text h5 span {
  color: gray;
}
.about .about-text p {
  color: rgba(255, 204, 255, 0.8);
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

.about .main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.skills {
  background: #101010;
  width: 100%;
  padding: 100px 0px;
}
.skills .title h2 {
  color: white;
  font-size: 3rem;
  text-align: center;
}
.skills .box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}
.skills .box .card {
  height: 300px;
  width: 500px;
  padding: 0.25em 0.25em;
  background: #191919;
  border-radius: 20px;
  margin: 10px;
  position: relative;
  text-align: center;
}

.skills .box .card i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 20px 0px;
  color: #f9004d;
}
.skills .box h5 {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 1.8em;
}
.skills .box .pra p {
  color: rgba(255, 204, 255, 0.8);
  font-size: 1rem;
  line-height: 1em;
  margin-bottom: 1em;
}

.cover {
  width: 100%;
  height: 400px;
  background: #191919;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.cover .letter{
	color: gray;
	}
.cover p {
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px;
  allign-items: center;
  justify-content: center;

}

footer {
  position: relative;
  width: 100%;
  height: 400px;
  background: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer p:nth-child(1) {
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}

footer p:nth-child(2) {
  color: white;
  font-size: 17px;
  width: 500px;
  text-align: center;
  line-height: 26px;
}

.social {
  display: flex;
}
.social a {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9004d;
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.social a:hover {
  transform: scale(1.3);
  transition: 0.3s;
}
.open-nav {
  transform: translateX(0%);
}

@media only screen and (min-width: 680px) {
  body {
    font-family: "Josefin Sans", sans-serif;
  }
}
@media only screen and (min-width: 920px) {
  .menu {
    display: none;
  }

  nav {
    transform: translateX(0%);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
  }
  nav .close {
    display: none;
  }
  nav ul {
    display: flex;
    margin: 0;
  }
  nav ul a {
    color: white;
    padding: 0.5em 1em;
    font-size: 0.9rem;
  }
  nav ul a:hover {
    background: none;
    text-decoration: underline;
  }
  nav .exit {
    display: none;
  }

  .hero-img {
    left: unset;
    right: 0;
    width: 50%;
    height: 42em;
  }

  .logo {
    color: black;
  }
  .logo span {
    color: red;
  }
section.hero {
    height: auto;
    width: 40%;
    margin-bottom: 8em;
  }
  section.hero h1 {
    color: black;
  }
  section.hero p {
    margin-bottom: 8em;
    color: black;
  }
  section.hero svg.down-arrow {
    stroke: black;
    position: unset;
  }
  section.hero svg.down-arrow path {
    fill: black;
  }

  .feature {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 3em;
    margin-bottom: 8em;
  }
  .feature img {
    width: 25em;
  }
  .feature .content {
    text-align: right;
    width: 25em;
  }

  .feature.left {
    grid-template-areas: "left right";
  }
  .feature.left img {
    grid-area: left;
  }
  .feature.left .content {
    text-align: left;
    width: 25em;
    justify-self: left;
  }
}
@media only screen and (min-width: 1200px) {
  .wrapper {
    width: 1200px;
    margin: 0 auto;
  }

  .feature {
    gap: 0;
  }
}
@-webkit-keyframes introLoad {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes introLoad {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@-webkit-keyframes moveArrow {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes moveArrow {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes moveDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes moveDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
